h1 {
    color: violet;
    background-color: blueviolet;
    text-align: center;
    text-transform: uppercase;
}
   
    .espacio {
        border: 1px;
        border-radius: 10%;
        background-color: #8153ff;
        color: #8153ff;
        height: 58px;
        width:150px;
        font-size: 20px;

    }
    .label1{
        padding-right: 10px;
        font-size: 20px;
        color: #2347d7;

        input{
            font-size: 20px;
            color:#8153ff;
            background-color: cornflowerblue;
        }
    }
    label3{
        font-size:20px;
        color: #09021a;

        input {
            font-size: 20px;
            color: #2347d7;
            background-color: #8153ff;

        }
    }
    label4{
        padding-right: 20px;
        font: caption;
        color: darkmagenta;

    }
    input{
        font-size: 20px;

        color: #000000;
        background-color: #d644f4;
    
    }